@import url("@/bootstrap-grid.min.css");

/* Base Variables */
:root {
  /* Brand color */
  --primary-color: #486fff;
  --primary-color-hover: #4366e8;

  /* Background colors (Application, elements and windows) */
  --primary-background-color: #0b0b0b;
  --secondary-background-color: #17181a;

  /* Fonts */
  --primary-font: "";
  --primary-font-color: #9f9f9f;
  --strong-font-color: #ffffff;

  /* Border Radius */
  --primary-border-radius: 5px;

  /* Changes the color fo all icons */
  --primary-color-filter: invert(36%) sepia(70%) saturate(2590%) hue-rotate(217deg) brightness(101%) contrast(101%);
  --icon-filter: invert(100%);

  --card-shadow: 0 0 20px 0 rgb(0 0 0 / 79%);
}

@media screen and (prefers-color-scheme: light) {

  /* Light theme Variables */
  :root {
    /* Background colors (Application, elements and windows) */
    --primary-background-color: #f4f4f4;
    --secondary-background-color: #ffffff;

    /* Fonts */
    --primary-font-color: #505050;
    --strong-font-color: #000000;

    --card-shadow: 0 0 30px 0 rgb(0 0 0 / 16%);
  }
}


body,
html {
  background-color: var(--secondary-background-color) !important;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  overflow: scroll;
}

#__nuxt,
.posts {
  width: 100%;
  overflow: hidden;
}

.posts {
  padding-top: 100px;
}

#__nuxt {
  position: relative;

}

.post__content a {
  text-decoration: none;
  color: var(--strong-font-color);
  font-weight: 600;
}

.header {
  background-color: var(--primary-background-color) !important;
  border-bottom: var(--primary-background-color) !important;
  color: var(--primary-font-color) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  -moz-backdrop-filter: blur(5px) !important;
  -o-backdrop-filter: blur(5px) !important;
  -ms-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 20px !important;
  opacity: .9 !important;
  display: unset !important;
  left: 0;
  z-index: 12;
  position: fixed !important;
  top: 0;
  right: 0;
}


/* CARDS STYLE */

.card__link {
  font-size: 24px;
  font-weight: 700;
  color: var(--strong-font-color) !important;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif !important;
  line-height: 24px;
}

.card__cover {
  border-radius: var(--primary-border-radius) !important;
}

.card__excerpt {
  color: var(--primary-font-color) !important;
  font-size: 17px !important;
  max-height: 115px;
  line-height: 23px !important;
  font-family: 'Roboto', sans-serif !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__date {
  color: var(--primary-font-color) !important;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif !important;
  line-height: 12px;
}

.card {
  padding: 10px !important;
  position: relative;
  border-radius: var(--primary-border-radius) !important;
  margin-bottom: 20px !important;
  border: 1px solid var(--secondary-background-color);
  font-family: 'Roboto', sans-serif !important;
  background: var(--secondary-background-color);
  box-shadow: var(--card-shadow);
  transition: .2s;
}

.card:hover {
  box-shadow: none !important;
  border: 1px solid var(--primary-font-color);
  transition: .2s;
}

.card__title {
  letter-spacing: 0 !important;
}


.footer {
  display: block !important;
  background: var(--primary-background-color) !important;
  padding: 15px 20px 10px 25px !important;
  margin: 20px 0 0 0 !important;
  text-align: left !important;
  color: var(--primary-font-color) !important;
}






/* POST PAGE STYLE */
.post {
  background-color: var(--secondary-background-color);
  padding-top: 80px;
}

.post .card {
  max-width: 800px;
  margin: auto;
  box-shadow: none !important;
  margin-bottom: 100px !important;
  border: none !important;
}

.post__cover {
  border-radius: var(--primary-border-radius) !important;
}

.post__title {
  font-weight: 700;
  color: var(--strong-font-color) !important;
  margin-bottom: 20px;
  line-height: 120% !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 51px !important;
  letter-spacing: 0;
}

@media (max-width: 800px) {
  .post__title {
    font-size: 30px !important;
  }
}

.post__excerpt {
  display: none !important;
}

.post__date {
  color: var(--primary-font-color) !important;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px !important;
  font-family: 'Roboto', sans-serif !important;
  line-height: 12px;
  margin-top: 20px !important;
}

.post__content {
  color: var(--primary-font-color) !important;
  font-size: 20px !important;
  font-family: 'Roboto', sans-serif !important;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px !important;
}

@media (min-width: 800px) {
  .no-desktop {
    display: none;
  }
}

@media (max-width: 800px) {
  .no-mobile {
    display: none;
  }
}








.box {
  position: relative;
  top: 0;
  left: 0;
}

.wave {
  top: 0;
  left: 0;
  opacity: .04;
  position: absolute;
  top: 3%;
  left: 10%;
  background: rgb(80, 80, 80);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 70000ms infinite linear;
}

.wave.-three {
  position: absolute;
  animation: drift 75000ms infinite linear;
  top: 9%;
  width: 2000px;
  height: 2000px;
  left: 10%;
  background-color: #777777;
}

.wave.-two {
  position: absolute;
  width: 1500px;
  height: 1300px;
  top: 20%;
  left: 10%;
  animation: drift 30000ms infinite linear;
  opacity: .05;
  background: rgb(108, 108, 108);
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

/*LOADING SPACE*/

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s
}

.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}

.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0
  }
}